/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-title {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
}

.signout-button {
    background-color: transparent;
    color: #007bff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.signout-button:hover {
    text-decoration: underline;
}

/* Main Content */
.home-container {
    max-width: 800px;
    margin: auto;
}

.welcome-card {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    text-align: center;
}

.create-note-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-note-button:hover {
    background-color: #0056b3;
}

.notes-container {
    margin: 10px 0 20px 0;
    padding:0 20px 0 20px;
    border-radius: 8px;
}

.notes-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.note-item {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.view-mode {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.notes-list .edit-mode {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
}

.note-text {
    flex-grow: 1;
    font-size: 14px;
    color: #333;
    word-wrap: break-word;
    width: 200px;    
}

.action-buttons, .edit-buttons {
    display: flex;
    gap: 10px;
}

.edit-buttons button {
    margin: 10px 0 0 0;
    padding: 8px;
}

button {
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-button {
    background-color: #ffffff;
    color: #fff;
}

.edit-mode .delete-button {
    background-color: #ca5454;
    color: #fff;
}
.view-mode .delete-button{
    background-color: #ffffff;
}

.save-button {
    background-color: #28a745;
    color: #fff;
}

button:hover {
    opacity: 0.9;
}

textarea {
    flex-grow: 1;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group textarea {
    padding:  10px;
    
}

.input-group label{
    margin-top: 10px;
}


/* Responsive Design */
@media (max-width: 768px) {
    .navbar-title {
        font-size: 20px;
    }

    .navbar {
        padding: 10px 20px;

    }

    .signout-button {
        font-size: 14px;
    }

    .create-note-button {
        font-size: 14px;
    }


    .content {
        padding: 0 20px 0 20px;

    }

    .welcome-card {
        padding: 15px;
    }

    .note-item {
        font-size: 14px;
    }


     .input-group textarea {
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
}
