/* General container styles */
.container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  justify-content: space-evenly;
}

/* Form container styles */
.form-container {
  flex: 1;
  max-width: 400px;
  background-color: #fff;
  border-radius: 8px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 16px;
  margin-bottom: 20px;
  color: #555;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.otp-button{
  padding: 10px;
  margin: 5px 0 0 0;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

.signup-button {
  width: 106%;
  padding: 10px;
  background-color: #119c6e;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #0c744c;
}

.google-button {
  width: 106%;
  padding: 10px;
  background-color: #db4437;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.google-button:hover {
  background-color: #b33126;
}

.divider {
  margin: 10px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: #000000;
}



.logo-img {
  width: 132%;
  height: 100vh;
  object-fit: cover;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.note-text{
  margin: 3px 0 0 0;
  font-size: 14px;
  color: #007bff;
  width: 400px;
}

.signin-text{
  text-align: center;
}

/* Responsive styles for mobile */
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .image-container {
    display: none;
  }

  .form-container {
    width: 100%;
    max-width: 300px;
    margin:0 26px 0 0;
  }
  
}
