body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  /* height: 100vh; */
  justify-content: space-between;
}

.form-container {
  background: #fff;
  padding: 20px;
  border-radius: 0;
  margin-left: 30px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 16px;
}

.input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
}

.input-group input {
  width: 160%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-button,
.google-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.google-button {
  background-color: #db4437;
  margin-top: 5px;
}

.signup-button:hover,
.google-button:hover {
  opacity: 0.9;
}

.divider {
  text-align: center;
  font-size: 14px;
  color: #aaa;
}

.signin-text {
  text-align: center;
  font-size: 14px;
  color: #555;
}

.signin-text a {
  color: #007bff;
  text-decoration: none;
}



.logo-img{
  margin-top: 0.2px;
  height: 99.56vh;
  width: 63vw;
}
.bottom-container{
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}